Assets/_TerrainAutoUpgrade
Assets/Animations
Assets/Audio
Assets/Materials
Assets/Models
Assets/Prefabs
Assets/Resources
Assets/Scenes
Assets/StoreAssets
Assets/Texts
Assets/_TerrainAutoUpgrade
Library
Logs
ModelSrc
obj
Packages
ProjectSettings
Release
Temp
UIElementsSchema
*.meta
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Creation of Machines.sln
Unity.Postprocessing.Editor.csproj
Unity.Postprocessing.Editor.Tests.csproj
Unity.Postprocessing.Runtime.csproj
Unity.Postprocessing.Runtime.Tests.csproj
UpgradeLog.htm
.vs
